[include]
	path = .gitremotes
	path = .borgconfig
[submodule "auto-compile"]
	path = lib/auto-compile
	url = https://github.com/emacscollective/auto-compile
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg
[submodule "closql"]
	path = lib/closql
	url = https://github.com/magit/closql
[submodule "compat"]
	path = lib/compat
	url = https://github.com/emacs-compat/compat
[submodule "cond-let"]
	path = lib/cond-let
	url = https://github.com/tarsius/cond-let
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/magit/emacsql
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg
[submodule "git-modes"]
	path = lib/git-modes
	url = https://github.com/magit/git-modes
[submodule "llama"]
	path = lib/llama
	url = https://github.com/tarsius/llama
[submodule "magit"]
	path = lib/magit
	url = https://github.com/magit/magit
[submodule "transient"]
	path = lib/transient
	url = https://github.com/magit/transient
[submodule "with-editor"]
	path = lib/with-editor
	url = https://github.com/magit/with-editor
